<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <mapping class="com.barret.ncu.bbs.entity.BlockEntity"/>
        <mapping class="com.barret.ncu.bbs.entity.CommentEntity"/>
        <mapping class="com.barret.ncu.bbs.entity.FavoriteEntity"/>
        <mapping class="com.barret.ncu.bbs.entity.FollowEntity"/>
        <mapping class="com.barret.ncu.bbs.entity.PermissionEntity"/>
        <mapping class="com.barret.ncu.bbs.entity.PostEntity"/>
        <mapping class="com.barret.ncu.bbs.entity.ReportEntity"/>
        <mapping class="com.barret.ncu.bbs.entity.RoleEntity"/>
        <mapping class="com.barret.ncu.bbs.entity.RolePermissionEntity"/>
        <mapping class="com.barret.ncu.bbs.entity.SectionEntity"/>
        <mapping class="com.barret.ncu.bbs.entity.UserEntity"/>
        <mapping class="com.barret.ncu.bbs.entity.UserRoleEntity"/>
        <mapping class="com.barret.ncu.bbs.entity.ThumbsDownEntity"/>
        <mapping class="com.barret.ncu.bbs.entity.ThumbsUpEntity"/>

    </session-factory>
</hibernate-configuration>